body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
  }
  
  header {
    text-align: center;
    display:flex;
    justify-content: center;
    
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  h1 {
    color: #333;
    position:fixed;
    
  }
  .h21 {
    padding-top: 60px;
    color: #333;
  }
  
  label {
    display: block;
    margin-top: 1rem;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
li {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: relative; /* Add relative positioning */
  }
  
  .delete-button {
    background-color: #ff5c5c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust as needed */
    transform: translateY(-50%);
  }
  #add-button{
    margin-top: 15px;
  }